.container {
  padding: 40px 0;
  width: 100%;
  transition: all 900ms ease;
}

.showModal {
  opacity: 0;
  transition: all 900ms ease;
}

.darkMode > div > h1, .darkMode > div > h4 {
  color: white;
}

.darkMode > div > h1:hover {
  color: #1f59ed;
}

.darkMode > div > .button {
  color: #fff;
}

.darkMode > div > .button:hover {
  color: #fff;
  border: 2px solid #fff;
}

.row {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.secondary {
  color: #1f59ed;
}

.row > h1 {
  position: relative;
  z-index: 10;
  text-align: center;
  font-size: 64px;
  margin-bottom: 14px;
  transition: all 300ms ease;
  color: #1f59ed;
}

.row > h1:hover {
  color: black;
}

.subtitle {
  text-align: center;
  font-weight: 500;
  max-width: 500px;
  transition: color 300ms ease;
  line-height: 1.5;
  padding: 0 16px;
}

.subtitle > br {
  margin-bottom: 80px;
}

.button {
  margin-top: 28px;
  width: 120px;
  padding: 16px 12px;
  border: 2px solid #1f59ed;
  border-radius: 10px;
  background-color: #1f59ed;
  cursor: pointer;
  transition: all 300ms ease;
  font-weight: 600;
  font-size: 16px;
  color: white;
  box-shadow: 0 2px 4px 0 rgb(0, 0, 0, 0.3);
}

.button:hover {
  transform: scale(1.05);
  background-color: transparent;
  border: 2px solid black;
  color: black;
  box-shadow: 0 4px 12px 0 rgb(0, 0, 0, 0.25);
}

.button:active {
  transform: scale(0.95);
}

@media (max-width: 875px) {

  .showModal {
    animation: slideout 0.5s forwards;
    height: 0px;
  }

  @keyframes slideout {
    from {
      height: var(--h);
      transform: scale(1);
      opacity: 1;
    }
    to {
      height: 0; /*This will change for each element */
      transform: scale(0);
      opacity: 0;
    }
  }
}

@media (max-width: 600px) {
  .row {
    max-width: none;
    padding: 0;
  }

  .row > h1 {
    font-size: 48px;
    margin-bottom: 8px;
    padding: 0 24px;
  }

  .subtitle {
    font-size: 16px;
    padding: 0 24px;
  }
}
