.project {
  margin-bottom: 125px;
  margin-top: 125px;
  list-style-type: none;
  transition: all 300ms ease;
}

.description {
  position: absolute;
  top: 50%;
  left: 90px;
  transform: translateY(100%);
  opacity: 0;
  transition: opacity 300ms, transform 450ms ease;
  color: white;
  max-width: 600px;
}

.project_wrapper {
  position: relative;
  z-index: 10;
  border-radius: 20px;
  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.45);
  overflow: hidden;
  display: flex;
}

.image {
  transition: all 400ms ease;
}

.project_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1c1d25;
  opacity: 0;
  filter: none;
  transition: all 450ms ease;
}

.project_wrapper:hover .description {
  opacity: 1;
  transform: translateY(-50%);
}

.project_wrapper:hover .image {
  transform: scale(1.07);
  filter: blur(5px);
}

.project_wrapper:hover .project_background {
  opacity: 0.78;
}

.title {
  font-size: 64px;
  transition: all 300ms ease;
}

.subtitle {
  margin-top: 8px;
}

.description_links {
  display: flex;
  justify-content: flex-start;
}

.description_link {
  color: white;
  font-size: 20px;
  margin-right: 8px;
  height: 23px;
}

.figure {
  color: white;
  filter: invert(100%);
  height: 23px;
  width: 23px;
  position: relative;
}

.figure span img {
  transition: all 300ms ease;
  overflow: visible;
}

.figure:hover span img {
  opacity: 0.8;
  transform: scale(1.1);
}

.figure, .figure span {
  overflow: visible !important;
}

.description_link > svg {
  height: 25px;
  width: 25px;
}

.description_link svg, .description_link:hover > span > img {
  transition: all 400ms ease;
}

.description_link:hover svg {
  opacity: 0.8;
  transform: scale(1.1);
}

.description_link:active {
  transform: scale(0.9);
}

.description_paragraph {
  margin: 16px 0;
}

@media(max-width: 768px) {
  .description {
    top: 50%;
    max-width: 550px;
  }

  .description_paragraph {
    padding-right: 40px;
  }

  .title {
    font-size: 32px;
    padding-right: 16px;
  }
}

@media (max-width: 600px) {

  .title {
    padding: 0 16px;
    font-size: 28px;
  }
  .description_paragraph {
    display: none;
    padding: 16px
  }
  .description {
    left: 0;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .subtitle {
    margin-bottom: 8px;
  }
  .description_links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 450px) {
  .title {
    font-size: 4vw;
  }

  .subtitle {
    font-size: 3.5vw;
  }

  .project {
    margin-bottom: 80px;
    margin-top: 80px;
    list-style-type: none;
  }


}