.footer {
  position: relative;
  z-index: 10;
  background-color: #242424;
  display: flex;
  padding: 8px 0;
  transition: all 900ms ease, background-color 300ms ease;
  width: 100%;
}

.showModal {
  opacity: 0;
}

.darkMode {
  background-color: rgba(255, 255, 255, 0.94);
}

.darkMode > div > div > div > a,
.darkMode > div > div > div
 {
  color: #242424;
  font-weight: 600;
}

.darkMode > div > div > a > figure > span > img {
  filter: none;
}

.darkMode > div > div > a > figure > span > img:hover {
  filter: none;
  /* opacity: 0.8; */
  transform: scale(1.1);
}

.darkMode > div > div > a > span {
  color: #242424;
}

.container {
  padding: 50px 0;
  width: 100%;
}

.row {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_anchor {
  position: relative;
}

.logo_wrapper {
  overflow: visible;
  height: 140px;
  width: 140px;
}

.logo_wrapper > span {
  overflow: visible !important;
}

.logo_popup {
  position: absolute;
  color: white;
  transform: translateX(-60);
  opacity: 0;
  transition: all 450ms ease;
  right: 0;
  top: 30px;
  font-weight: 700;
}


.footer_anchor:hover .logo_popup {
  transform: translateX(60px);
  opacity: 1;
}

.logo_img {
  width: 140px;
  filter: invert(1);
  transition: all 500ms ease;
  transition: all 300ms ease;
  cursor: pointer;
}

.logo_img:hover {
  filter: invert(0.95);
  transform: scale(1.1);
}

.logo_img:active {
  transform: scale(0.8);
}

.social_list {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
  margin: 32px 0;
  transition: all 300ms ease;
}

.social_link {
  cursor: pointer;
}

.social_link,
.copyright {
  color: white;
  position: relative;
  transition: all 550ms ease;
  text-align: center;
  font-weight: 600;
}

.social_link:hover {
  /* opacity: 0.8; */
  color: #1f59ed;
}

.social_link:after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 3px;
  width: 0;
  right: 0;
  transition: all 600ms ease;
  background-color: #1f59ed;
}

.social_link:hover:after {
  left: 0;
  width: 100%;
}


@media(max-width: 875px) {
  .showModal {
    animation: slideout 0.5s forwards;
    height: 0px;
  }
  
  @keyframes slideout {
    from {
      height: var(--h);
      transform: scale(1);
      opacity: 1;
    }
    to {
      height:0; /*This will change for each element */
      transform: scale(0);
      opacity: 0;
    }
  }

}


@media(max-width: 480px) {
  .social_list {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  .social_link {
    margin: 8px 0;
    width: fit-content;
  }

  .logo_wrapper {
    height: 100px;
    width: 100px;
  }

  .footer_anchor:hover .logo_popup {
    transform: translateX(48px);
  }

  /* .logo_popup {
    position: absolute;
    color: white;
    transform: translateX(-60);
    opacity: 0;
    transition: all 450ms ease;
    right: 0;
    top: 30px;
    font-weight: 700;
  } */
}