.landing_container {
  min-height: calc(100vh - 100px);
  transition: all 900ms ease, opacity 1200ms ease-out;
}

.landing_content {
  transition: all 300ms ease;
}

.showModal {
  opacity: 0;
}

.darkMode > header > div > div > p,
.darkMode > header > div > div > .greeting {
  color: white;
  background-color: rgba(36, 36, 36, 0.9);
}

.darkMode > header > div > div > .landing_description {
  background-color: rgba(36, 36, 36, 0.9);
}

.darkMode > div > .scroll > .scroll_icon {
  border: 3px solid #fff;
}

.darkMode > div > .scroll > .scroll_icon:after {
  background-color: #fff;
}

.darkMode > div > .scroll > .scroll_icon:hover {
  transform: scale(1.1);
  background-color: #fff;
}

.darkMode > div > .scroll > .scroll_icon:hover:after {
  background-color: #242424;
}

.darkMode > div > .scroll > .scroll_icon:active {
  transform: scale(0.9);
}

.landing {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1000px;
  padding: 0 8px;
  z-index: 5;
  transition: all 300ms ease;
}

.greeting {
  font-size: 120px;
  margin: 0;
  margin-bottom: 12px;
  text-align: left;
  line-height: 1;
  width: fit-content;
  transition: all 300ms ease;
  background-color: rgba(245, 245, 245, 0.9);
  /* background-color: rgb(245, 245, 245); */
}

.greeting:last-child {
  margin-bottom: 12px;
}

.landing_description {
  font-size: 24px;
  line-height: 1.8;
  max-width: 600px;
  margin-bottom: 8px;
  transition: all 300ms ease;
  background-color: rgba(245, 245, 245, 0.9);
  /* background-image: radial-gradient(ellipse farthest-corner at 12px 12px, rgba(245, 245, 245, 1) 0%, rgba(245, 245, 245, 0.8) ); */
  border-radius: 16px;
}

.description_hover {
  transition: all 300ms ease;
  cursor: pointer;
}

.description_hover:hover {
  color: blue !important;
}

.socials_list {
  margin-top: 16px;
  display: flex;
  /* background-color: rgba(245, 245, 245, 0.9); */
  width: fit-content;
  transition: all 300ms ease;
}

.social_link {
  background-color: #1f59ed;
  color: white;
  padding: 6px;
  width: 42px;
  height: 42px;
  font-size: 14px;
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 2px 4px 0 rgb(0, 0, 0, 0.3);
  transition: all 400ms ease;
}

.social_link:hover {
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.25);
  transform: scale(1.05);
  opacity: 0.9;
}

.social_link:active {
  transform: scale(0.9);
}

.social_link > span > img {
  filter: invert(100%);
}

.social_link > svg {
  height: 23px;
}

.social_logo {
  color: white;
}

.scroll {
  opacity: 1;
  visibility: visible;
  transition: all 600ms 600ms;
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.scroll_icon {
  width: 24px;
  height: 36px;
  border: 3px solid #242424;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease;
  cursor: pointer;
}

.scroll_icon:hover {
  transform: scale(1.1);
  background-color: #242424;
}

.scroll_icon:hover:after {
  background-color: #fff;
}

.scroll_icon:active {
  transform: scale(0.9);
}

.scroll_icon:after {
  content: "";
  width: 4px;
  height: 6px;
  background-color: #242424;
  border-radius: 2px;
  animation: scroll 1000ms infinite alternate-reverse;
}

@keyframes scroll {
  0% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(-3px);
  }
}

.secondary {
  color: #1f59ed !important;
}

@media (max-width: 1135px) {
  .landing {
    padding: 0 48px;
  }
}

@media (max-width: 768px) {
  .greeting {
    font-size: 80px;
  }
  .landing_description {
    font-size: 20px;
    line-height: 1.5;
  }
}

@media (max-width: 600px) {
  .landing_container {
    min-height: 90vh;
  }
}

@media (max-width: 450px) {
  .greeting {
    font-size: 52px;
  }

  .landing_description {
    font-size: 16px;
  }

  .landing {
    padding: 0 1rem;
  }
}

@media (max-width: 320px) {
  .landing_content {
    text-align: center;
  }
  .greeting {
    text-align: center;
    margin: 0 auto;
  }

  .landing_description {
    text-align: center;
  }

  .socials_list {
    justify-content: center;
    margin: 0 auto;
  }
}
