.container {
  padding: 40px 0 8px 0;
  width: 100vw;
  transition: all 900ms ease;
  position: relative;
  background: linear-gradient(rgb(245, 245, 245), #fff);
  z-index: 5;
}

.showModal {
  opacity: 0;
  transition: all 900ms ease;
}

.darkMode {
  background: linear-gradient(#242424, rgb(102, 102, 102));
}

.darkMode > div > div > h1,
.darkMode > div > div > h4 {
  color: white;
}

.darkMode > div > div > h1:hover {
  color: #1f59ed;
}

.darkMode > div > div > .button {
  color: #fff;
}

.darkMode > div > div > .button:hover {
  color: #fff;
  border: 2px solid #fff;
}

.darkMode > div > div > .techWrapper > figure > span {
  color: white;
}

.row {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.secondary {
  color: #1f59ed;
}

.row > h1 {
  position: relative;
  z-index: 10;
  text-align: center;
  font-size: 60px;
  margin-bottom: 24px;
  transition: all 300ms ease;
}

.row > h1:hover {
  color: black;
}

.subtitle {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  max-width: 500px;
  transition: color 300ms ease;
  line-height: 1.5;
  padding: 0 16px;
}

.bothTech {
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 400px;
  padding-bottom: 24px;
}

.bothTech > div {
  width: 80%;
  padding: 0 0 12px 0;
}

.frontend {
  min-height: 400px;
}

.frontend > h3,
.backend > h3 {
  text-align: center;
  margin-bottom: 12px;
}

.techWrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: fit-content;
  min-height: 400px;
  width: 80%;
  padding: 16px 0 56px 0;
}

.tech {
  height: 85px;
  width: 85px;
  margin: 16px 32px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 450ms ease;
  z-index: 100;
  /* padding: 8px; */
}

.language_name {
  position: absolute;
  bottom: -32px;
  /* transform: scale(0); */
  opacity: 0;
  transition: all 450ms ease;
  text-align: center;
  /* margin: 0 auto; */
}

.tech:hover .language_name {
  /* transform: scale(1); */
  opacity: 1;
}

.tech:hover {
  filter: brightness(90%);
  transform: scale(0.9);
}



.button_wrapper {
  position: absolute;
  bottom: 0;
  z-index: 900;
  color: green;
  font-size: 80px;
}

@media (max-width: 975px) {
  .techWrapper {
    padding: 40px 0 32px 0;
  }

  .tech {
    margin: 24px 32px;
  }
}

@media (max-width: 875px) {
  .showModal {
    animation: slideout 0.5s forwards;
    height: 0px;
  }

  @keyframes slideout {
    from {
      height: var(--h);
      transform: scale(1);
      opacity: 1;
    }
    to {
      height: 0; /*This will change for each element */
      transform: scale(0);
      opacity: 0;
    }
  }
}

@media (max-width: 750px) {
  .bothTech > div {
    width: 100%;
  }

  .tech {
    height: 64px;
    width: 64px;
  }

}

@media (max-width: 600px) {
  .row {
    max-width: none;
    padding: 0;
  }

  .row > h1 {
    font-size: 48px;
    margin-bottom: 8px;
    padding: 0 24px;
  }

  .subtitle {
    font-size: 16px;
    padding: 0 24px;
  }

  .techWrapper {
    padding: 48px 0;
  }
}

@media (max-width: 500px) {
  .tech {
    width: 64px;
    height: 64px;
    margin: 16px 16px;
  }

  .row > h1 {
    font-size: 48px;
  }
}

@media (max-width: 390px) {
  .techWrapper {
    padding-bottom: 48px;
  }
}

@media (max-width: 330px) {
  .row > h1 {
    font-size: 12vw;
  }

  .techWrapper {
    padding-bottom: 24px;
  }
}
