.contact_button {
  width: 70px;
  height: 70px;
  font-size: 32px;
  border-radius: 50%;
  border: none;
  background-color: #242424;
  color: white;
  position: fixed;
  bottom: 32px;
  right: 40px;
  z-index: 100;
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.35);
  transition: all 300ms ease;
  cursor: pointer;
}

.contact_button:hover {
  transform: scale(1.1);
}

.contact_button:active {
  transform: scale(0.9);
}

.showModal {
  opacity: 0;
}

.darkMode {
  background-color: #fff;
  color: #242424;
}