.background::before {
  content: "";
  position: absolute;
  background-image: url("../../../../public/wave.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 22vh;
  left: 0;
  top: -74px;
  transform: rotate(180deg);
  z-index: 6;
}

.background_content {
  position: absolute;
  left: 0;
  width: 100vw;
  height: 22vh;
  top: -72px;
  z-index: 5;
  background-color: rgb(245, 245, 245);
  transition: all 300ms ease;
}

.container {
  padding: 40px 0;
  width: 100%;
  transition: all 900ms ease;
  position: relative;
  margin-top: 40px;
}

.showModal {
  opacity: 0;
  transition: all 900ms ease;
}

.darkMode > div > .background::before {
  filter: invert(100%) invert(37%) sepia(5%) saturate(4%) hue-rotate(15deg)
    brightness(97%) contrast(85%);
}

.darkMode > div > .background > .background_content {
  background-color: #242424 !important;
}

.darkMode > div > h1 {
  color: white;
}

.darkMode > div > h1 > span > a > svg:hover {
  color: white;
}

.darkMode > div > a .first_project {
  color: white;
}

.darkMode > div > a .first_project:hover {
  color: #1f59ed;
}

.darkMode > div > a > span {
  color: white;
}

.row {
  width: 85%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 12px;
}

.secondary {
  color: #1f59ed;
}

.row > h1 {
  position: relative;
  z-index: 7;
  text-align: center;
  font-size: 48px;
  margin-bottom: 60px;
  transition: all 300ms ease;
}

.row > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button_wrapper {
  width: fit-content;
  height: fit-content;
  margin: 0 24px;
}

.project_button {
  font-size: 54px;
  cursor: pointer;
  transition: all 300ms ease;
}

.project_button:hover {
  transform: scale(1.1);
  color: #242424;
}

.project_button:active {
  transform: scale(0.95);
}

.first_button_wrapper {
  z-index: 10;
  position: absolute;
  top: -75px;
  left: 50%;
  transform: translate(-50%, -35%);
  width: 70px;
  height: 80px;
}

.first_project {
  font-size: 80px;
  color: #242424;
  transition: all 300ms ease;
}

.first_button_wrapper:hover .first_project {
  transform: scale(1.1);
  color: #1f59ed;
}

.first_project:active {
  transform: scale(0.95);
}

.button_name {
  position: absolute;
  bottom: 20%;
  right: 40px;
  opacity: 0;
  transition: all 550ms ease;
  text-align: center;
  font-weight: bold;
  cursor: default;
}

.first_button_wrapper {
  width: fit-content;
}

.first_button_wrapper:hover .button_name {
  opacity: 1;
  right: 80px;
}

@media (max-width: 975px) {
  .background {
    top: -24px;
  }

  .first_button_wrapper {
    top: -60px;
  }
}

@media (max-width: 875px) {
  .showModal {
    animation: slideout 0.5s forwards;
    height: 0px;
  }
  .container {
    padding-top: 0;
  }

  @keyframes slideout {
    from {
      height: var(--h);
      transform: scale(1);
      opacity: 1;
    }
    to {
      height: 0; /*This will change for each element */
      transform: scale(0);
      opacity: 0;
    }
  }
}

@media (max-width: 600px) {
  .row {
    max-width: none;
    padding: 18px;
  }

  .row > h1 {
    font-size: 38px;
    margin-bottom: 24px;
  }

  .project_button {
    font-size: 40px;
  }
}
